@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(54,132,223,1) 100%);
}

main {
    height: 78vh;
}

.date-hour {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    color: #102F5e;
}

#date {
    flex: 1;
}

button {
    background-color: #FDFDFD;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .4s;

}

button:hover {
    background-color: #102F5e;
    color: white;
}

button > i {
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: .4rem .5rem;
}

.hide {
    display: none;
}

.todo-container {
    background-color: #ecf0f1;
    border-radius: 15px;
    width: 450px;
    margin: 3rem auto;
    padding: 1.5rem;

}

.todo-container header {
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #CCC;
}

header > h1 {
    padding-left: 16px;
    border-left: 5px solid #e74c3c;
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

#todo-form > p, #edit-form > p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control > input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

.toolbar {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

#search {
    border-right: 1px solid #CCC;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search > form {
    display: flex;
}

.toolbar h4 {
    margin-bottom: .5rem;
}

.search-input {
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter-select {
    flex: 1;
}

.todo {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: #ecf0f1;
}

.done {
    background-color: #395169;
}

.done > h3 {
    color: white;
    text-decoration: line-through;
    font-style: italic;
}

.todo button:hover, .done > button {
    background-color: #395169;
    color: #ecf0f1;
}

.done > button:hover {
    background-color: #ecf0f1;
    color: #102F5e;
}